* {
  margin: auto;
}
/* 
body {
  background-image: url("img/list-bg.png");
} */

nav>img {

  height: 45px;
  position: relative;
  top: 20px;
  left: 2px;
}

nav {
  width: 960px;
  border-bottom: 3px solid gray;
  padding: 40px;
}

main {
  width: 960px;
}

nav>ul>img {
  margin-left: -2px;
}

nav>ul>img:nth-child(7){
  margin-left: 7px;
}

nav>h1 {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  margin-left: 10px;
  display: inline;
  position: relative;
  top: 20px;
  left: 2px;
}

nav>ul {
  text-align: right;
}

nav>h2 {
  font-size: 8px;
  text-transform: uppercase;
  padding-top: -20px;
  margin-left: 10px;
  position: relative;
  top: 25px;
  left: 25px;
}
main > h2 {
  font-size: 8px;
  text-transform: uppercase;
  color: lightgray;
}
main div:first-of-type{
  text-align: right;
  margin-left: 166px;
  margin-right: 57px;
}
p > image {
  display: inline;
}
main > h1{
  font-weight: 300;
  }

  div > p{
    display: inline;
  }